<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imejadevs.diagnosis">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/diag"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".web.webview"></activity>
        <activity android:name=".SplashScrean" />
        <activity android:name=".History.DisplayHistory" />
        <activity android:name=".History.History" />
        <activity android:name=".VideoPlay" />
        <activity
            android:name=".ProcessData.Dataprocess"
            android:screenOrientation="portrait" />
        <activity android:name=".Common_cold.CommonCold" />
        <activity android:name=".Anaemia.Anaemia" />
        <activity android:name=".Allergy.Disease" />
        <activity android:name=".cholera.D_cholera" />
        <activity android:name=".Pneumonia.Pneumonia" />
        <activity android:name=".Asthma.D_Asthma" />
        <activity android:name=".EachDisease.EachDisease" />
        <activity android:name=".Typhoid.Typhoid" />
        <activity android:name=".TB.TB" />
        <activity android:name=".Malaria.Malaria" />
        <activity android:name=".Register.CompleteProfile" />
        <activity android:name=".Register.Registartion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>